/* подключение локальных шрифтов */
/* @font-face{
    src: url('./fonts/OpenSans-Regular.ttf');
    font-family: "OpenSans Regular";
}

@font-face{
    src: url('./fonts/OpenSans-Bold.ttf');
    font-family: "OpenSans Bold";
}

@font-face{
    src: url('./fonts/OpenSans-ExtraBold.ttf');
    font-family: "OpenSans ExtraBold";
} */


/* Селектор по тегу */
h2 {
    color: #005807;
}

article {
    text-align: justify;
    font-size: large;
}

.photo {
    /* min-height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    flex-direction: row;





    /* прокрутка вбок, если не контент не влез */
    /* overflow: auto; */

    /* пустить контент вторым рядом */
    flex-wrap: wrap;
    /* max-width: 100%; */
    max-height: fit-content;
    /* min-height: fit-content; */

    /* растянуть flexbox, если контент не влез */
    /* min-width: fit-content; */
    max-width: fit-content;
}

.photo>img {
    margin: 10px;
    justify-content: space-around;
    min-width: 50px;
    min-height: 50px;
    max-width: 430px;

}

.content {
    flex-direction: column;
    align-content: center;
    
    /* max-width: min-content; */
    flex-wrap: wrap;

    /* при ширине менее min-width пустить вторым рядом */
    min-width: 400px;
    display: flex;

    /* align-items: flex-start; */
    /* justify-content: center; */
    margin: 10px;
    flex: 1 2 0;

    /* подключение шрифтов */
    font-family: 'Open Sans',
        Verdana, Geneva, Tahoma, sans-serif;
}

.fullname {
    display: flex;
    font-weight: bold;
    font-size: 20pt;
    /* align-content: center; */
    justify-content: space-around;
}


.grid-wrapper {
    display: grid;
    /* адаптивный грид */
    /* с фиксированной шириной пикселей */
    /* grid-template-columns: repeat(auto-fit, 200px); */
    /* с адаптируемой шириной */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 2fr)); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 0fr;
    grid-gap: 2vw;

    font-weight: bold;
}

.grid-item {
    min-height: 100%;
    min-width: 100%;
}

/* .occupation {
    background-color: rgb(161, 48, 48);
}

.company {
    background-color: rgb(49, 163, 68);
} */

.working-period {
    text-align: right;
}
